<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>The timeless repository</title>
  <subtitle>Thoughts on life, internet and programming</subtitle>
  <id>tag:judofyr.net,1992-10-15:/</id>
  <link rel="self" type="application/atom+xml" href="http://timeless.judofyr.net/changelog.xml"/>
  <link rel="alternate" type="text/html" href="http://timeless.judofyr.net/"/>
  <updated><%= Time.now.xmlschema %></updated>
  <author>
    <name>Magnus Holm</name>
    <email>judofyr@gmail.com</email>
    <uri>http://judofyr.net/</uri>
  </author>
  <author>
    <name>Steve Klabnik</name>
    <email>steve@steveklabnik.com</email>
    <uri>http://www.steveklabnik.com/</uri>
  </author>
  
<% @changes.each do |change|;c=change.created_at.utc %>
  <entry>
    <title><%= change.title %></title>
    <id>tag:timeless.judofyr.net,<%=c.xmlschema[0..9]%>:<%=c.to_i%></id>
    <link href="<%= change.url %>"/>
    <updated><%= c.xmlschema %></updated>
    <published><%= c.xmlschema %></published>
    <content type="html"><![CDATA[<%= change.to_full_html %>]]></content>
  </entry>
<% end %>
</feed>

